.fondo{
    background-color: #cd0c36;
}
.contenido{
    margin-top: 50px;
}
.footer{
    margin-top: 50px;
}

.container-avenger{
    margin: 20px;

}
.fondo-contenido{
    background-color: #b71c1c;
}