.fondo{
    background-color: #18012b;
}
.contenido{
    margin-top: 50px;
}
.footer{
    margin-top: 50px;
}

.container-avenger{
    margin: 20px;

}
.fondo-contenido{
    background-color: #2f2252;
}
.hela{
    margin-top: -10px;
}
.border-radius{
    border-radius: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }